<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>custom</string>
	<key>image</key>
	<string>navpad_gray.png</string>
	<key>image_highlight</key>
	<string>navpad_blue.png</string>
	<key>buttons</key>
	<array>
		<dict>
			<key>id</key>
			<string>Prev Audio</string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>19</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>81</integer>
			<key>action</key>
			<string>[SHIFT+A]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>Up</string>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>19</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>81</integer>
			<key>action</key>
			<string>[ALT+UP]</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Next Audio</string>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>19</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>81</integer>
			<key>action</key>
			<string>[A]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>Left</string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>81</integer>
			<key>action</key>
			<string>[ALT+LEFT]</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Enter</string>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>81</integer>
			<key>action</key>
			<string>[ALT+SPACE]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>Right</string>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>81</integer>
			<key>action</key>
			<string>[ALT+RIGHT]</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Prev Subtitle</string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>180</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>81</integer>
			<key>action</key>
			<string>[SHIFT+S]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>Down</string>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>180</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>81</integer>
			<key>action</key>
			<string>[ALT+DOWN]</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Next Subtitle</string>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>180</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>81</integer>
			<key>action</key>
			<string>[S]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>Open DVD</string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>62</integer>
			<key>action</key>
			<string>[CTRL+D]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>DVD Root Menu</string>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>62</integer>
			<key>action</key>
			<string>[ALT+R]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>DVD Title Menu</string>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>62</integer>
			<key>action</key>
			<string>[ALT+T]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>Toggle Subtitles</string>
			<key>x</key>
			<integer>235</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>62</integer>
			<key>action</key>
			<string>[W]</string>
		</dict>
	</array>
</dict>
</plist>
